.App {
	background: url("./images/bg.jpg") no-repeat;
	background-size: cover;
}

.joinOuterContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	align-items: center;
}

.joinInnerContainer {
	width: 25%;
	padding: 3%;
	border: 2px solid white;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .7);
	box-shadow: 0 0 10px 3px rgba(255,255,255,0.75);
}

.joinInput {
	font-weight: bold;
	color: white;
	width: 100%;
	background-color: rgba(255, 255, 255, .3);
	padding: 15px 20px;
	margin: 10px 0;
	border-radius: 8px;
	border: none;
	transition: all .3s;
}

.joinInput:focus {
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.75);
}

.heading {
	color: white;
	font-size: 2.5em;
	padding-bottom: 10px;
	border-bottom: 2px solid #FD3800;
}

.btn {
	color: #FD3800;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #FD3800;
	background-color: #fc8c6d;
	padding: 10px 20px;
	margin-top: 12px;
	border-radius: 3px;
	display: inline-block;
}

.outerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .9);
	box-shadow: 0 0 10px 1px rgba(255,255,255,0.75);
	height: 60%;
	width: 35%;
}

.infoBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ff5e57;
	border-radius: 8px 8px 0 0;
	height: 60px;
	width: 100%;
}

.leftInnerContainer {
	flex: 1;
	display: flex;
	align-items: center;
	margin-left: 5%;
	color: white;
}

.leftInnerContainer h3 {
	font-weight: 400;
	font-size: 1.3rem;
	padding-bottom: 5px;
}

.rightInnerContainer {
	display: flex;
	flex: 0.5;
	justify-content: flex-end;
	margin-right: 5%;
	cursor: pointer;
}

.onlineIcon {
	margin-right: 5%;
}

.messages {
	height: 100%;
	padding: 5% 0;
	overflow: auto;
}

.messageBox {
	background: #F3F3F3;
	border-radius: 3px;
	padding: 4px 10px 6px 10px;
	line-height: 1.1;
	color: white;
	max-width: 80%;
}

.messageText {
	font-size: .9rem;
	word-wrap: break-word;
}

.messageText img {
	vertical-align: middle;
}

.messageContainer {
	display: flex;
	padding: 0 5%;
	margin-top: 10px;
}

.sentText {
	color: #828282;
	margin: auto 0 0 0;
	font-size: .7rem;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.justifyStart {
	justify-content: flex-start;
}

.justifyEnd {
	justify-content: flex-end;
}

.colorWhite {
	color: white;
}

.colorDark {
	color: white;
}

.backgroundBlue {
	background: #ff5e57;
}

.backgroundLight {
	background: #58B19F;
}

.form {
	display: flex;
	border-top: 2px solid #ff5e57;
}

.input {
	border: none;
	padding: 3%;
	width: 80%;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	background-color: rgba(255, 255, 255, .1);
	transition: all .3s;
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

.sendButton {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #ff5e57;
	border: none;
	width: 20%;
}

